<h3>Movie's Collection</h3>
<button class="btn btn-primary" (click)="createMovie()">Add New Movie</button>
<table>
    <thead>
        <tr>
            <th style="width: 25px">Id</th>
            <th style="width: 200px">Movie Name</th>
            <th style="width: 200px">Director Name</th>
            <th style="width: 200px">Release Year</th>
            <th style="min-width: 100px">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of movies">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.directorName }}</td>
            <td>{{ row.releaseYear }}</td>
            <td *ngIf="row.id != deleteId">
                <button class="btn btn-sm btn-primary" (click)="showMovieDetail(row.id)">
          Details
      </button>
                <button class="btn btn-sm btn-warning" (click)="editMovie(row.id)">
          Edit
      </button>
                <button class="btn btn-sm btn-danger" (click)="deleteMovieQuestion(row.id)">
          Delete
      </button>
            </td>
            <td *ngIf="row.id === deleteId && !isDeleting">
                Delete this movie?
                <button class="btn btn-sm" (click)="cancelDelete()">Cancel</button>
                <button class="btn btn-sm btn-danger" (click)="deleteMovie(row.id)">Delete</button>
                <p *ngIf="deleteError">{{ deleteError }}</p>
            </td>
            <td *ngIf="row.id === deleteId && isDeleting">
                Deleting...
            </td>
        </tr>
    </tbody>
</table>